.title {
    font-family: 'Marck Script', cursive;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
}

.restart,.rainbow {
    text-align: center;
    background: #2E76CF;
    color: white;
    border: 0;
    padding: 10px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.restart:hover,.rainbow:hover {
    background: #173b67;
}

button::-moz-focus-inner {
    border: 0;
}

#container {
    border: solid black 1px;
    height: 600px;
    width: 600px;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-shadow: gray 3px 3px 3px;
}